# URL base de la aplicación bajo prueba
BASE_URL=https://playwright.dev
RESTFUL_BOOKER_BASE_URL=https://restful-booker.herokuapp.com

# Credenciales de prueba (opcional)
TEST_USER=admin
TEST_PASSWORD=password123
