node_modules/
dist/
.env
.env.local

# Playwright
informe-playwright/
resultados-pruebas/
blob-report/
playwright/.cache/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
